.header-container {
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;

  .home{
    position: relative;
  }

  .about{
    position: relative;
  }

  .work{
    position: relative;
  }

  .skills {
    position: relative;
  }

  .contact{
    position: relative;
    margin-right: 128px;
  }
  
  .circle {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
  }
  .brand-logo {
    margin-left: 24px;
  }
}

